body {
    margin:0;
    padding:0;
   
    color: rgb(255, 255, 255);



    background:
        linear-gradient(
            rgba(0,0,0,0.7),
            rgba(0,0,0,0.7)
        ),
        url("imagens/background-barbante.png");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;

}

#logo-barbante {
    size: 1px;
}

h1{text-align: center;
}





.navbar{
    background:rgba(26,0,0,.95);

    backdrop-filter:blur(8px);

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:15px 20px;

    position:sticky;
    top:0;

    z-index:9999;

    box-shadow:0 2px 10px rgba(0,0,0,.3);
}

.logo{
    width:120px;
    transition:.3s;
}

.logo:hover{
    transform:scale(1.05);
}

.menu-btn{
    background:none;
    border:none;
    color:white;
    font-size:30px;
    cursor:pointer;

    transition:.3s;
}

.menu-btn:hover{
    color:#ffb347;
    transform:scale(1.1);
}

.nav-links{
    display:none;
    flex-direction:column;

    position:absolute;
    top:100%;
    right:0;

    width:250px;

    background:rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(10px);

    list-style:none;
    margin:0;
    padding:0;

    border-radius:0 0 0 15px;

    box-shadow:
        0 10px 30px rgba(0,0,0,.5);

    z-index:9999;
}
.nav-links.active{
    display:flex;
}

.nav-links a{
    display:block;

    color:white;
    text-decoration:none;

    padding:18px 25px;

    border-bottom:1px solid rgba(255,255,255,.1);

    transition:all .3s ease;
}

.nav-links a:hover{
    background:rgba(255,255,255,.08);

    padding-left:35px;

    color:#ffb347;
}


.whatsapp{
    position:fixed;
    bottom:20px;
    right:20px;
    background:#25D366;
    color:white;
    padding:15px 20px;
    border-radius:50px;
    text-decoration:none;
    font-weight:bold;
    z-index:999;
}